n8n/workflows/rag-chatbot-pipeline.json
{
    "name": "MyNaga Gabay - AI Health Assistant",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "mynaga-gabay-chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                400,
                -256
            ],
            "id": "webhook-mynaga-gabay",
            "name": "Webhook: Chat",
            "webhookId": "mynaga-gabay-chat"
        },
        {
            "parameters": {
                "jsCode": "// Extract incoming data from the webhook (already normalized by Next.js API)\nconst body = $input.first().json.body || $input.first().json;\nconst message = body.message || '';\nconst sessionId = body.sessionId || 'session-' + Date.now();\nconst language = body.language || 'english'; // Already normalized by API\n\n// Validate message\nif (!message) {\n  throw new Error('No message provided');\n}\n\nreturn [{\n  json: {\n    message: message,\n    sessionId: sessionId,\n    language: language,\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                624,
                -256
            ],
            "id": "extract-request",
            "name": "Extract Request"
        },
        {
            "parameters": {
                "model": "llama-3.3-70b-versatile",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                848,
                -32
            ],
            "id": "groq-chat-model",
            "name": "Groq Chat Model",
            "credentials": {
                "groqApi": {
                    "id": "ZhMPWHIOwnuZ0GnW",
                    "name": "Portfolio"
                }
            }
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                976,
                -32
            ],
            "id": "postgres-memory",
            "name": "Postgres Chat Memory",
            "credentials": {
                "postgres": {
                    "id": "MoWRczO7tiOMmUKi",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "agent": "conversationalAgent",
                "promptType": "define",
                "text": "={{ $json.message }}",
                "options": {
                    "systemMessage": "You are MyNaga Gabay, an AI health assistant for Naga City, Camarines Sur, Philippines.\n\nALWAYS RESPOND IN ENGLISH. Translation to other languages is handled separately.\n\n## Your Role\nHelp people in Naga City find information about:\n- Health facilities (hospitals, clinics, pharmacies, health centers)\n- Emergency hotlines and contact numbers\n- Government services and offices\n- Medicines and healthcare information\n- PhilHealth coverage and benefits\n\n## Response Format\n- Be concise but helpful (2-4 sentences ideal)\n- For specific facilities, provide address and contact number\n- For emergencies, always provide hotline numbers immediately\n- If you don't know, say: 'I don't have that information. Please contact City Hall at (054) 472-3000.'\n\n## Key Information\n- Emergency: 911 or (054) 472-3000 (Central Command Center)\n- Bicol Regional Hospital: (054) 472-6125\n- City Health Office: City Hall Complex\n- PhilHealth Naga: 2nd Floor, City Hall Annex, (054) 472-8888\n\nAlways be friendly, helpful, and prioritize user health and safety."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                912,
                -256
            ],
            "id": "ai-agent",
            "name": "AI Health Agent"
        },
        {
            "parameters": {
                "mode": "retrieve-as-tool",
                "toolName": "naga_knowledge_base",
                "toolDescription": "Search the MyNaga Gabay knowledge base for information about Naga City health facilities, government services, medicines, PhilHealth coverage, and emergency hotlines. Use this tool when the user asks about any local health or government service in Naga City.",
                "tableName": "n8n_vectors",
                "options": {
                    "topK": 5
                }
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
            "typeVersion": 1.1,
            "position": [
                1104,
                -32
            ],
            "id": "pgvector-store",
            "name": "PGVector Knowledge Base",
            "credentials": {
                "postgres": {
                    "id": "nV9TVKfIINwf5GIv",
                    "name": "Yamabiko"
                }
            }
        },
        {
            "parameters": {
                "model": "models/text-embedding-004"
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
            "typeVersion": 1,
            "position": [
                1184,
                176
            ],
            "id": "gemini-embeddings",
            "name": "Google Gemini Embeddings",
            "credentials": {
                "googlePalmApi": {
                    "id": "cnZWz3uhTsq6Qj75",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Format the AI agent's response\\nconst input = $input.first().json;\\nconst agentOutput = input.output || input.text || 'Pasensya na, may problema. Paki-try giraray. (Sorry, there was a problem. Please try again.)';\\nconst requestData = $('Extract Request').first().json;\\n\\nreturn [{\\n  json: {\\n    response: agentOutput,\\n    language: requestData.language,\\n    sessionId: requestData.sessionId,\\n    model: 'llama-3.3-70b-versatile',\\n    timestamp: new Date().toISOString()\\n  }\\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1472,
                -256
            ],
            "id": "format-response",
            "name": "Format Response"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1696,
                -256
            ],
            "id": "respond-webhook",
            "name": "Respond to Webhook"
        }
    ],
    "connections": {
        "Webhook: Chat": {
            "main": [
                [
                    {
                        "node": "Extract Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Request": {
            "main": [
                [
                    {
                        "node": "AI Health Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Health Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Health Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "PGVector Knowledge Base": {
            "ai_tool": [
                [
                    {
                        "node": "AI Health Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Embeddings": {
            "ai_embedding": [
                [
                    {
                        "node": "PGVector Knowledge Base",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Health Agent": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "07735f1b4ca74ae0b887f047d3f2b5d2649651b894580d19d87f5f3e7573b6dd"
    }
}