n8n/workflows/rag-chatbot-pipeline.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "mynaga-gabay-chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                224,
                -96
            ],
            "id": "927374f5-472d-4a53-a953-fc5aae99b8bd",
            "name": "Webhook: Chat",
            "webhookId": "mynaga-gabay-chat"
        },
        {
            "parameters": {
                "jsCode": "// Extract incoming data from the webhook\nconst body = $input.first().json.body || $input.first().json;\nconst message = body.message || '';\nconst sessionId = body.sessionId || 'session-' + Date.now();\nconst language = body.language || 'auto';\n\n// Validate message\nif (!message) {\n  throw new Error('No message provided');\n}\n\n// Language detection\nconst bikolIndicators = ['daw', 'baga', 'ta', 'digdi', 'saimo', 'sakuya', 'harong', 'kaini', 'maray', 'tabi', 'siring', 'haen', 'pano', 'dai', 'iyo', 'bako', 'saro'];\nconst tagalogIndicators = ['ang', 'ng', 'mga', 'sa', 'na', 'ko', 'mo', 'siya', 'niya', 'kami', 'kayo', 'sila', 'ano', 'paano', 'saan', 'bakit', 'sino'];\nconst englishIndicators = ['the', 'is', 'are', 'what', 'where', 'how', 'can', 'do', 'does', 'have', 'has', 'will', 'would', 'could', 'should', 'please', 'help', 'need', 'want'];\n\nlet detectedLanguage = language;\nif (language === 'auto') {\n  const lowerMsg = message.toLowerCase();\n  const words = lowerMsg.split(/\\s+/);\n  \n  const bikolScore = bikolIndicators.filter(w => words.includes(w)).length;\n  const tagalogScore = tagalogIndicators.filter(w => words.includes(w)).length;\n  const englishScore = englishIndicators.filter(w => words.includes(w)).length;\n  \n  if (bikolScore > 0 && bikolScore >= tagalogScore) {\n    detectedLanguage = 'bikol';\n  } else if (tagalogScore > englishScore) {\n    detectedLanguage = 'tagalog';\n  } else {\n    detectedLanguage = 'english';\n  }\n}\n\nreturn [{\n  json: {\n    message: message,\n    sessionId: sessionId,\n    language: detectedLanguage,\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                448,
                -96
            ],
            "id": "f38d45ee-bba1-46bc-badb-b0e5183a7c43",
            "name": "Extract & Detect Language"
        },
        {
            "parameters": {
                "model": "qwen/qwen3-32b",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                672,
                224
            ],
            "id": "c5f63356-8f20-4f5c-b7f2-96da6a686e35",
            "name": "Groq Chat Model",
            "credentials": {
                "groqApi": {
                    "id": "ZhMPWHIOwnuZ0GnW",
                    "name": "Portfolio"
                }
            }
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                800,
                224
            ],
            "id": "cf80e67d-cf88-4d18-8023-071683f36836",
            "name": "Postgres Chat Memory",
            "credentials": {
                "postgres": {
                    "id": "MoWRczO7tiOMmUKi",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "agent": "conversationalAgent",
                "promptType": "define",
                "text": "=[DETECTED LANGUAGE: {{ $json.language }}]\n\nUser message: {{ $json.message }}\n\nIMPORTANT: You MUST respond in {{ $json.language }}. Match the user's language exactly.",
                "options": {
                    "systemMessage": "/no_think\n\nYou are MyNaga Gabay, an AI health assistant for Naga City, Camarines Sur, Philippines.\n\n## CRITICAL OUTPUT RULES\n- DO NOT output any <think>, <reasoning>, or similar XML tags\n- DO NOT include internal reasoning in your response\n- Respond DIRECTLY with the answer only\n\n## CRITICAL LANGUAGE RULES\n- You MUST respond in the SAME language as the user's input\n- If user speaks English, respond in English\n- If user speaks Bikol, respond in Bikol\n- If user speaks Tagalog/Filipino, respond in Filipino\n- NEVER mix languages unless providing translations\n\n## Your Role\nHelp people in Naga City find information about:\n- Health facilities (hospitals, clinics, pharmacies, health centers)\n- Emergency hotlines and contact numbers\n- Government services and offices\n- Medicines and healthcare information\n- PhilHealth coverage and benefits\n\n## Response Format\n- Be concise but helpful (2-4 sentences ideal)\n- For specific facilities, provide address and contact number\n- For emergencies, always provide hotline numbers immediately\n- If you don't know, say: 'I don't have that information. Please contact City Hall at (054) 472-3000.'\n\n## Key Information\n- Emergency: 911 or (054) 472-3000 (Central Command Center)\n- Bicol Regional Hospital: (054) 472-6125\n- City Health Office: City Hall Complex\n- PhilHealth Naga: 2nd Floor, City Hall Annex, (054) 472-8888\n\nAlways be friendly, helpful, and prioritize user health and safety."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                728,
                0
            ],
            "id": "ca08643d-bcbe-4490-8d89-c687cace89e0",
            "name": "AI Health Agent"
        },
        {
            "parameters": {
                "mode": "retrieve-as-tool",
                "toolName": "naga_knowledge_base",
                "toolDescription": "Search the MyNaga Gabay knowledge base for information about Naga City health facilities, government services, medicines, PhilHealth coverage, and emergency hotlines. Use this tool when the user asks about any local health or government service in Naga City.",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
            "typeVersion": 1.1,
            "position": [
                928,
                224
            ],
            "id": "89c268a4-162b-4228-a169-992dc4f701c8",
            "name": "PGVector Knowledge Base",
            "credentials": {
                "postgres": {
                    "id": "nV9TVKfIINwf5GIv",
                    "name": "mynaga-gabay"
                }
            }
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
            "typeVersion": 1,
            "position": [
                1008,
                432
            ],
            "id": "1fa703ab-f11a-42c8-b888-f992f1aec19f",
            "name": "Google Gemini Embeddings",
            "credentials": {
                "googlePalmApi": {
                    "id": "cnZWz3uhTsq6Qj75",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Format the AI agent's response\nconst input = $input.first().json;\nconst agentOutput = input.output || input.text || 'Pasensya na, may problema. Paki-try giraray. (Sorry, there was a problem. Please try again.)';\n\n// Try to get request data from either extraction node\nlet requestData;\nlet isChatTrigger = false;\ntry {\n  requestData = $('Extract & Detect Language').first().json;\n} catch (e1) {\n  try {\n    requestData = $('Extract Chat Language').first().json;\n    isChatTrigger = true;\n  } catch (e2) {\n    requestData = { language: 'english', sessionId: 'unknown' };\n  }\n}\n\n// Return formatted response\nreturn [{\n  json: {\n    response: agentOutput,\n    output: agentOutput,\n    language: requestData.language,\n    sessionId: requestData.sessionId,\n    model: 'qwen/qwen3-32b',\n    timestamp: new Date().toISOString(),\n    isChatTrigger: isChatTrigger\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1296,
                0
            ],
            "id": "af2f16d2-4aa6-4bb2-b77f-0e6879f58c5f",
            "name": "Format Response"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1520,
                0
            ],
            "id": "6926192a-7a82-4a67-af96-3f77896da035",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "public": true,
                "initialMessages": "Maray na aldaw! \ud83d\udc4b\n\nI'm **MyNaga Gabay**, your AI health assistant for Naga City.\n\nYou can ask me about:\n\ud83c\udfe5 Hospitals & clinics\n\ud83d\udc8a Pharmacies & medicines\n\ud83c\udfdb\ufe0f Government offices\n\ud83c\udd98 Emergency hotlines\n\ud83d\udc9a PhilHealth benefits\n\nTataram ka sa Bikol, Tagalog, o English - maintindihan taka!\n\n---\n\n\u00bfAno an sakong maitatabang saimo?\n(How can I help you?)",
                "options": {
                    "responseMode": "responseNodes"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.chatTrigger",
            "typeVersion": 1.4,
            "position": [
                224,
                96
            ],
            "id": "0cc99eae-7f95-4791-9d91-047ab357f841",
            "name": "When chat message received",
            "webhookId": "mynaga-gabay-chat-ui"
        },
        {
            "parameters": {
                "jsCode": "// Extract message from chat trigger\nconst chatInput = $input.first().json;\nconst message = chatInput.chatInput || chatInput.message || '';\nconst sessionId = chatInput.sessionId || 'chat-' + Date.now();\n\n// Language detection\nconst bikolIndicators = ['daw', 'baga', 'ta', 'digdi', 'saimo', 'sakuya', 'harong', 'kaini', 'maray', 'tabi', 'siring', 'haen', 'pano', 'dai', 'iyo', 'bako', 'saro'];\nconst tagalogIndicators = ['ang', 'ng', 'mga', 'sa', 'na', 'ko', 'mo', 'siya', 'niya', 'kami', 'kayo', 'sila', 'ano', 'paano', 'saan', 'bakit', 'sino'];\nconst englishIndicators = ['the', 'is', 'are', 'what', 'where', 'how', 'can', 'do', 'does', 'have', 'has', 'will', 'would', 'could', 'should', 'please', 'help', 'need', 'want'];\n\nconst lowerMsg = message.toLowerCase();\nconst words = lowerMsg.split(/\\s+/);\n\nconst bikolScore = bikolIndicators.filter(w => words.includes(w)).length;\nconst tagalogScore = tagalogIndicators.filter(w => words.includes(w)).length;\nconst englishScore = englishIndicators.filter(w => words.includes(w)).length;\n\nlet detectedLanguage = 'english';\nif (bikolScore > 0 && bikolScore >= tagalogScore) {\n  detectedLanguage = 'bikol';\n} else if (tagalogScore > englishScore) {\n  detectedLanguage = 'tagalog';\n}\n\nreturn [{\n  json: {\n    message: message,\n    sessionId: sessionId,\n    language: detectedLanguage,\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                448,
                96
            ],
            "id": "0615b9d1-1854-4c6f-aa88-6a9ac2aaaad3",
            "name": "Extract Chat Language"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chat",
            "typeVersion": 1,
            "position": [
                1520,
                96
            ],
            "id": "respond-to-chat",
            "name": "Respond to Chat"
        }
    ],
    "connections": {
        "Webhook: Chat": {
            "main": [
                [
                    {
                        "node": "Extract & Detect Language",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract & Detect Language": {
            "main": [
                [
                    {
                        "node": "AI Health Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Health Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Health Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Health Agent": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PGVector Knowledge Base": {
            "ai_tool": [
                [
                    {
                        "node": "AI Health Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Embeddings": {
            "ai_embedding": [
                [
                    {
                        "node": "PGVector Knowledge Base",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Respond to Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When chat message received": {
            "main": [
                [
                    {
                        "node": "Extract Chat Language",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Chat Language": {
            "main": [
                [
                    {
                        "node": "AI Health Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "07735f1b4ca74ae0b887f047d3f2b5d2649651b894580d19d87f5f3e7573b6dd"
    }
}