n8n/workflows/rag-ingestion-pipeline.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ingest-knowledge-base",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                48,
                -32
            ],
            "id": "96c12921-3a45-4201-bcec-3178a3212b8c",
            "name": "Webhook: Ingest Knowledge Base",
            "webhookId": "mynaga-gabay-ingest"
        },
        {
            "parameters": {
                "jsCode": "const inputData = $input.first().json.body || $input.first().json;\nconst facilities = inputData.facilities || [];\nconst medicines = inputData.medicines || [];\nconst government = inputData.government || [];\nconst philhealth = inputData.philhealth || [];\nconst emergency = inputData.emergency || [];\nconst category = inputData.category || 'all';\n\nconst documents = [];\n\nif (category === 'all' || category === 'facilities') {\n  for (const facility of facilities) {\n    const services = facility.services ? facility.services.join(', ') : '';\n    const content = `Facility: ${facility.name}\\nType: ${facility.type || 'health_facility'}\\nAddress: ${facility.address || ''}\\nCity: ${facility.city || 'Naga City'}\\nPhone: ${facility.phone || 'Not available'}\\nHours: ${facility.hours || 'Not specified'}\\nServices: ${services}\\nPhilHealth: ${facility.philhealthAccredited ? 'Yes' : 'Not specified'}`;\n    documents.push({ content, metadata: { id: facility.id, name: facility.name, type: 'facility', subtype: facility.type, source: 'mynaga-gabay' } });\n  }\n}\n\nif (category === 'all' || category === 'medicines') {\n  for (const medicine of medicines) {\n    const content = `Medicine: ${medicine.genericName || medicine.name}\\nBrand Names: ${(medicine.brandNames || []).join(', ')}\\nCategory: ${medicine.category || 'General'}\\nDescription: ${medicine.description || ''}\\nCommon Uses: ${(medicine.commonUses || []).join(', ')}\\nWarnings: ${(medicine.warnings || []).join(', ')}`;\n    documents.push({ content, metadata: { id: medicine.id, name: medicine.genericName || medicine.name, type: 'medicine', category: medicine.category, source: 'mynaga-gabay' } });\n  }\n}\n\nif (category === 'all' || category === 'government') {\n  for (const office of government) {\n    const content = `Government Office: ${office.name}\\nAddress: ${office.address || 'City Hall Complex, Naga City'}\\nPhone: ${office.phone || 'Not available'}\\nHours: ${office.hours || '8AM-5PM Mon-Fri'}\\nServices: ${(office.services || []).join(', ')}`;\n    documents.push({ content, metadata: { id: office.id, name: office.name, type: 'government_service', source: 'mynaga-gabay' } });\n  }\n}\n\nif (category === 'all' || category === 'philhealth') {\n  for (const ph of philhealth) {\n    const memberTypes = (ph.memberTypes || []).map(m => `${m.type}: ${m.description}`).join('; ');\n    const benefits = (ph.benefits || []).map(b => `${b.category}: ${b.coverage} (${b.limit})`).join('; ');\n    const howTo = (ph.howToAvail || []).join(' ');\n    const content = `PhilHealth Coverage\\nOverview: ${ph.overview || ''}\\nMember Types: ${memberTypes}\\nBenefits: ${benefits}\\nHow to Avail: ${howTo}\\nRequirements: ${(ph.requirements || []).join(', ')}\\nNaga Office: ${ph.contactNaga?.office || ''} - ${ph.contactNaga?.phone || ''}`;\n    documents.push({ content, metadata: { type: 'philhealth', source: 'mynaga-gabay' } });\n  }\n}\n\nif (category === 'all' || category === 'emergency') {\n  for (const hotline of emergency) {\n    const content = `Emergency Hotline: ${hotline.category}\\nNumbers: ${hotline.content}\\nSource: ${hotline.source_url || 'naga.gov.ph'}`;\n    documents.push({ content, metadata: { type: 'emergency', category: hotline.category, source: 'mynaga-gabay' } });\n  }\n}\n\n$execution.customData.set('documents_count', documents.length);\nreturn documents.map(doc => ({ json: doc }));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                272,
                -32
            ],
            "id": "1d05be7d-5ac5-4a62-89f7-fee2c2a87d16",
            "name": "Process Knowledge Base Data"
        },
        {
            "parameters": {
                "chunkOverlap": 200,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
            "typeVersion": 1,
            "position": [
                704,
                400
            ],
            "id": "9bffdb9f-3741-46de-b1be-2fbc00166256",
            "name": "Text Splitter (1000 chars)"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
            "typeVersion": 1,
            "position": [
                496,
                192
            ],
            "id": "9fa9f7eb-e363-48ae-b4f0-1744ade830bb",
            "name": "Google Gemini Embeddings",
            "credentials": {
                "googlePalmApi": {
                    "id": "cnZWz3uhTsq6Qj75",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "textSplittingMode": "custom",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
            "typeVersion": 1.1,
            "position": [
                624,
                192
            ],
            "id": "ef007ae4-ee72-4039-8563-80964cafeca3",
            "name": "Document Data Loader"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\\n  \\\"success\\\": true,\\n  \\\"message\\\": \\\"Knowledge base ingested successfully\\\",\\n  \\\"timestamp\\\": \\\"{{ $now.toISO() }}\\\"\\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                992,
                -32
            ],
            "id": "cec6eebf-9e81-4f4d-87c7-fa2b48a654ad",
            "name": "Respond Success"
        },
        {
            "parameters": {
                "mode": "insert",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
            "typeVersion": 1.3,
            "position": [
                528,
                -32
            ],
            "id": "ad4292e5-d4d7-4b43-9446-b4f4eadc5395",
            "name": "Postgres PGVector Store",
            "credentials": {
                "postgres": {
                    "id": "nV9TVKfIINwf5GIv",
                    "name": "mynaga-gabay"
                }
            }
        }
    ],
    "connections": {
        "Webhook: Ingest Knowledge Base": {
            "main": [
                [
                    {
                        "node": "Process Knowledge Base Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Knowledge Base Data": {
            "main": [
                [
                    {
                        "node": "Postgres PGVector Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Text Splitter (1000 chars)": {
            "ai_textSplitter": [
                [
                    {
                        "node": "Document Data Loader",
                        "type": "ai_textSplitter",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Embeddings": {
            "ai_embedding": [
                [
                    {
                        "node": "Postgres PGVector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Document Data Loader": {
            "ai_document": [
                [
                    {
                        "node": "Postgres PGVector Store",
                        "type": "ai_document",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres PGVector Store": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "07735f1b4ca74ae0b887f047d3f2b5d2649651b894580d19d87f5f3e7573b6dd"
    }
}